* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000000;
}

.top {
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-1 {
    width: 100%;
    height: 3rem;
    display: flex;
}

.top-left {
    width: 66%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spotify-logo {
    width: 10rem;
    height: 3rem;
    display: flex;
    align-items: center;
    margin-left: 1.75rem;
}

.spotify-logo img:hover {
    cursor: pointer;
}

.spotify-logo img {
    width: 37px;
    filter: invert(1);
    background-color: white;
}

.home-circle img {
    width: 27px;
}

.top-home {
    background-color: #2a2a2a;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-circle img:hover {
    width: 30px;
}

.top-search {
    display: flex;
}

.top-search:hover {
    cursor: pointer;
}

.search {
    display: flex;
    position: relative;
    width: 28rem;
    height: 3rem;
}

.search input {
    display: flex;
    width: 28rem;
    height: 3rem;
    background: #2a2a2a;
    border-radius: 24px;
    text-indent: 45px;
    border: none;
    outline: none;
    margin-left: 0.5rem;
    caret-color: white;
    color: #fff;
}

.search input:focus-visible {
    border: 2px solid #fff;
}

.search input::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: #B3B3B3;
}

.logo-1 img {
    width: 30px;
}

.logo-2 img {
    width: 30px;
}

.logo-1 {
    position: absolute;
    left: 15px;
    top: 7px;
}

.logo-2 {
    position: absolute;
    right: 15px;
    bottom: 6px;
}

.logout {
    font-family: "Poppins", sans-serif;
    width: 7rem;
    height: 98%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    margin-left: 20rem;
    font-weight: 600;
}

.logout a {
    text-decoration: none;
    color: #000100;
}

.logout:hover {
    width: 7.5rem;
    height: 100%;
    background-color: #ada7a7;
    transition: all 0.2s ease;
}

.left {
    width: 25%;
}

.left-container {
    width: 100%;
    height: 31rem;
    background-color: #121212;
    border-radius: 12px;
    margin: 0 0 0 10px;
}

.left-library {
    width: 100%;
    height: 5rem;
}

.library {
    display: flex;
}

.line {
    display: flex;
    width: 1.2rem;
    gap: 4px;
    margin-left: 14px;
}

.line img {
    width: 8px;
    height: 20px;
    filter: invert(1);
    margin-top: 18px;
}

.library2 p:hover {
    color: #e0e0e0;
}

.line2 img {
    width: 22px;
    filter: invert(1);
    margin-top: 15px;
    transform: rotate(-12deg);
    margin-right: 5px;
}

.library2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.library2 p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #B3B3B3;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 8px;
    margin-left: 6px;
}

.library2 abbr {
    text-decoration: none;
    background-color: #121212;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.library2 div {
    color: #B3B3B3;
    font-size: 1.2rem;
    margin-right: 20px;
    margin-top: 4px;
    font-family: math;
    font-weight: 600;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.library2 div:hover {
    background-color: #2a2a2a;
}

.create {
    width: 95%;
    height: 12rem;
}

.left-create {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create1 {
    width: 100%;
    height: 9rem;
    background-color: #1F1F1F;
    border-radius: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.create1-1 {
    letter-spacing: 1px;
    font-size: 1.1rem;
    color: #fff;
    padding: 16px;
}

.create1-2 {
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.6px;
    margin-left: 16px;
    margin-top: -5px;
}

.create1-3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fff;
    width: 8rem;
    font-size: 1.05rem;
    padding: 8px;
    border-radius: 25px;
    position: relative;
    left: 15px;
    top: 26px;
}

.create1-3:hover {
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 600;
    background-color: #c4c0c0;
    cursor: pointer;
}

.create2 {
    width: 100%;
    height: 9rem;
    background-color: #1F1F1F;
    border-radius: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 14px;
}

.create2-1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
    padding: 14px;
}

.create2-2 {
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.6px;
    margin-left: 16px;
}

.create2-3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fff;
    width: 9rem;
    font-size: 1.05rem;
    padding: 8px;
    border-radius: 25px;
    position: relative;
    left: 15px;
    top: 26px;
}

.create2-3:hover {
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 600;
    background-color: #c4c0c0;
    cursor: pointer;
}



.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    width: 75%;
    border-radius: 12px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-color: #888;
    margin-right: 1px;
}

.right::-webkit-scrollbar {
    background-color: transparent;
}

.right::-webkit-scrollbar-thumb:hover {
    background-color: #838282;
}


.right-1 {
    width: 100%;
    height: 31rem;
    background-color: #121212;
    border-radius: 12px;
    margin-left: 20px;
}

.right2 {
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    height: 3rem;
    cursor: pointer;
    background-color: #121212;
    border-radius: 12px;
}

.right2-1 {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem;
    margin-left: 0.5rem;
}

.right2-1:hover {
    text-decoration: white underline;
    cursor: pointer;
}

.right2-2 {
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    margin-right: 1.5rem;
}

.right2-2:hover {
    text-decoration: white underline;
    cursor: pointer;
}

.right3 {
    width: 61rem;
    display: flex;
    background-color: #121212;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    transition: all ease 1s linear;
}


.right3-1 {
    width: 100%;
    height: 16rem;
    color: #fff;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}

.right3-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 11rem;
    cursor: pointer;
}

.right3-img>img {
    width: 160px;
    height: 160px;
    border-radius: 6px;
}

.right3-1 h5 {
    color: #b3b3b3;
    padding: 2px;
    margin-left: 6px;
    font-size: 0.85rem;
}

.right3-img .play {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 88px;
    right: 10px;
    /* background-color: #00000075; */
    opacity: 0;
    transition: all 0.3s ease;
}

.right3-1:hover .play {
    opacity: 1;
}

.right-all {
    width: 100%;
    height: 4rem;
}

.all-1 {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 2rem;
}

.right-all .all {
    color: #000100;
    background-color: #fff;
    padding: 0.6rem 0.9rem;
    border-radius: 1rem;
    font-size: 0.85rem;
}

.all:hover {
    background-color: #ccc7c7;
}

.right-all .music {
    color: #fff;
    background-color: #363434;
    padding: 0.6rem 0.8rem;
    border-radius: 1rem;
    font-size: 0.85rem;
    font-weight: 600;
    margin-left: 0.5rem;
}

.music:hover {
    background-color: #4e4b4b;
}

.right4 {
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    height: 3rem;
    cursor: pointer;
    background-color: #121212;
    border-radius: 12px;
}

.right4-1 {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem;
    margin-left: 0.5rem;
}

.right4-1:hover {
    text-decoration: white underline;
    cursor: pointer;
}

.right4-2 {
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    margin-right: 1.5rem;
}

.right4-2:hover {
    text-decoration: white underline;
    cursor: pointer;
}

.right5 {
    display: flex;
    background-color: #121212;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.right5-1 {
    width: 11rem;
    height: 16rem;
    color: #fff;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    margin-left: 1.2rem;
    cursor: pointer;
}

.right5-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12rem;
}

.right5-img>img {
    width: 160px;
    height: 160px;
    border-radius: 8px;
}

.right5-1 h4 {
    font-size: 1.2rem;
    margin-left: 2px;
    font-weight: 500;
}

.right5-1 h4:hover {
    text-decoration: white underline;
}

.right5-1 h5 {
    color: #b3b3b3;
    padding: 6px 0;
    margin-left: 2px;
    font-size: 0.85rem;
}

.right5-1 h5:hover {
    text-decoration: #b3b3b3 underline;
}

.right5-img .play {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 71px;
    right: 5px;
    /* background-color: #00000075; */
    opacity: 0;
    transition: all 0.3s ease;
}

.right5-1:hover .play {
    opacity: 1;
}

.right6 {
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    height: 3rem;
    background-color: #121212;
}

.right6-1 {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem;
}

.right6-1:hover {
    text-decoration: white underline;
    cursor: pointer;
}

.right7 {
    display: flex;
    background-color: #121212;
}

.right7-1 {
    width: 11rem;
    height: 16rem;
    color: #fff;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    margin-left: 16px;
    cursor: pointer;
}

.right7-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 13rem;
}

.right7-img>img {
    width: 160px;
    height: 160px;
    border-radius: 6px;
}

.right7-1 h4 {
    font-size: 1.2rem;
    margin-left: 10px;
    font-weight: 500;
}

.right7-1 h4:hover {
    text-decoration: white underline;
}

.right7-1 h5 {
    color: #b3b3b3;
    padding: 4px;
    margin-left: 6px;
    font-size: 0.85rem;
}

.right7-1 h5:hover {
    text-decoration: #b3b3b3 underline;
}

.right7-img .play {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 71px;
    right: 5px;
    /* background-color: #00000075; */
    opacity: 0;
    transition: all 0.3s ease;
}

.right7-1:hover .play {
    opacity: 1;
}


.right8 {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2.6rem;
    margin-left: 0.5rem;
}

.right8-1 {
    width: 42rem;
    height: 16rem;
    display: flex;
    justify-content: space-evenly;
}

.right8-2 {
    width: 6rem;
    height: 16rem;
    padding: 18px;
}

.right8-2 h4 {
    width: 7rem;
    color: #fff;
    font-size: 1.2rem;
}

.right8-2 h5 {
    color: #b3b3b3;
    width: 6rem;
    margin-top: 8px;
    font-size: 0.95rem;
    font-weight: 600;
}

.right8-2 h5:hover {
    color: #fff;
    text-decoration: #fff underline;
    cursor: pointer;
}

.right8-3 {
    height: 1px;
    width: 96%;
    background-color: #b3b3b3;
    margin: 8px 0;
    position: relative;
    left: 14px;
}

.right8-3 .line {
    width: 100vw;
    color: #b3b3b3;
    padding: 36px;
}












.bottom {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-1 {
    width: 96%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
}

.bottom1-1 img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 4px;
    object-fit: cover;
}

.bottom1-1 {
    color: #fff;
    display: flex;
    align-items: center;
}

.bottom1-1 h4 {
    color: #fff;
    font-size: 0.75rem;
    letter-spacing: 1px;
    font-weight: bolder;
    margin-bottom: 4px;
    cursor: pointer;
}

.bottom1-1 h4:hover {
    text-decoration: underline;
}

.bottom1-1>div {
    color: #B3B3B3;
    font-size: 0.85rem;
}

#artist-name {
    margin-left: 1rem;
}

#artist-name :last-child:hover {
    text-decoration: underline;
    color: #fff;
}

.bottom2-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom2-1 :nth-child(1) {
    width: 2rem;
    margin-right: 1rem;
    margin-top: 3px;
    transition: all 0.2s ease-in-out;
}

.bottom2-1 :nth-child(2) {
    transform: scale(1.4);
    margin: 0 8px 0 16px;
}

.bottom2-1 :nth-child(1):hover {
    width: 2.02rem;
}


.next2-1 {
    transform: rotatey(180deg);
}

#progress {
    -webkit-appearance: none;
    width: 26rem;
    height: 4px;
    border-radius: 4px;
    background-color: #838282;
    cursor: pointer;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: #49f31fe1;
    border: 4px solid #f5f5f5;
    border-radius: 50px;
}

#ctrlIcon {
    background-color: #fff;
    color: #030302;
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ctrlIcon:hover{
    width: 2.1rem;
    height: 2.1rem;
    transition: all 0.1s ease;
}

#high{
    color: gray;
    transform: scale(1.5);
    margin-right: 15px;
    margin-top: 6px;    
}



#volume{
    -webkit-appearance: none;
    border-radius: 4px;
    background-color: #838282;
    cursor: pointer;
    background-color: #0ee9a7e1;
}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: #0ee9a7e1;
    border: 4px solid #f5f5f5;
    border-radius: 50px;
}

.bottom2-2 {
    inline-size: 24rem;
}

.bottom1-3 {
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: center;
}

.bottom1-3 img {
    width: 1.5rem;
    margin-right: 6px;
    margin-top: 12px;
    transition: all 0.2s ease;
}

.bottom1-3 img:hover {
    width: 1.6rem;
}

.bottom1-3 input[type="range"] {
    width: 8rem;
    height: 4px;
}